@import url('https://fonts.googleapis.com/css?family=Lobster&family=Roboto&display=swap');

html,
body,
.App,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  
 
}

body {
  background: #1f1f05;
}

.App {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: purple;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
}




.quote-list {
  display: flex;
  flex-wrap: wrap;
}
.quote {
  background: #1f1f05;
  border-radius: 104px 24px 104px 24px;
  -moz-border-radius: 104px 24px 104px 24px;
  -webkit-border-radius: 104px 24px 104px 24px;
  border: 0px solid #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 350px;
  padding: 60px;
  margin: 16px auto;
  text-align: left;
  color: rgb(156, 4, 156);
}

h1,
h2 {
  font-family: 'Lobster', cursive;
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #1f1f05;
  padding: 50px 0;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
  /* margin-left: 100px; */
}

form h1 {
  color: rgb(156, 4, 156);
}

input, textarea {
  width: 200px;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;  
  border: 2px solid rgb(48, 2, 48);
  border-radius: 4px;
  background:rgb(172, 81, 172);
}


button {
  background: rgb(156, 4, 156);
  border: 3px solid rgb(63, 6, 63);
  padding: 10px 15px;
  font-size: 16px;
  color: #191919;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
}
button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12), 0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: green;
}
button:active {
  background: yellow;
  box-shadow: inset 0px 0px 5px yellow;
   outline: none;
}

label {
  margin-top: 30px;
  /* text-align: left; */
  width: 200px;
  color: rgb(156, 4, 156);
  font-weight: bolder;

}

@media(min-width: 1000px) {
  .App {
    flex-direction: row;
  }

  .quote-form-component{
    flex-basis: 40%;
  
  }
  
  .quote-component {
    flex-basis: 40%;
  } 
}